target_url: &target_url "http://backend:3000/event-listener"

authorization_request: {
  target_url: *target_url,
  target_events: [
    AuthorizationRequestObjectSigned
  ]
}

connection: {
  target_url: *target_url,
  target_events: [
    SIOPv2AuthorizationResponseVerified,
    OID4VPAuthorizationResponseVerified
  ]
}

offer: {
  target_url: *target_url,
  target_events: [
      CredentialRequestVerified,
      CredentialResponseCreated,
  ]
}
