.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%; 

    @include themify($themes) {
        background-color: themed('footerBackgroundColor');  
        height: themed('footerHeight');
    }

    .logo {
        @include themify($themes) {
            text-align: themed('footerLogoAlign');  
        }

        img {
            @include themify($themes) {
                height: themed('footerLogoHeight');  
            }
        }
    }
}