@import './helpers/globals';

// components
@import './components/text';
@import './components/table';
@import './components/sidebar';
@import './components/header';
@import './components/footer';
@import './components/buttons';

// pages
@import './pages/companies';
@import './pages/scanQRcode';
@import './pages/introPage';
@import './pages/confirmation';
@import './pages/companyData';
@import './pages/bankData';
@import './pages/signInPage';

html {
  background: none !important;
  font-size: unset !important;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.cookie-bar-bottom-bar {
    margin-top: 70px;
  }
}

#root, #root > div, #root > div > div {
  height: 100%;
  width: 100%;
}

.content-stretch {
  flex: 1;
  width: 100%;
  align-items: flex-start;
}

h1, h2, h3, h4, h5, h6, div, span, p, label, input, select, section, footer, header, nav, ul, li, button, tr, td, th {
  @include themify($themes) {
    font-family: themed('fontFamily');  
  }
}

.hidden {
  display: none !important;
}

button {
  outline: none !important;
}

.hidden-xs-down {
  @include breakPoint(small) {
    display: none !important;
  }
}

.hidden-sm-down {
  @include breakPoint(small) {
    display: none !important;
  }
}

.hidden-md-down {
  @include breakPoint(medium) {
    display: none !important;
  }
}

.hidden-sm-up {
  @include breakPoint(small) {
    display: none !important;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  overflow-x: auto;

  .content {
    padding: 50px;
    min-width: 535px;
    display: flex;
    justify-content: center;
    @include themify($themes) {
      margin-top: themed('headerHeight');
    }
  }
}

