<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>POC Dinaas</title>
</head>

<body>
    <main class="splash">
        <p>Launching</p>
    </main>
</body>
<% if (htmlWebpackPlugin.options.devMode){ %>
<script src="http://localhost:35729/livereload.js"></script>
<% } else { %>
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        ;(function(f, a, t, h, o, m) {
            a[h] =
                a[h] ||
                function() {
                    ;(a[h].q = a[h].q || []).push(arguments)
                }
            ;(o = f.createElement('script')), (m = f.getElementsByTagName('script')[0])
            o.async = 1
            o.src = t
            o.id = 'fathom-script'
            m.parentNode.insertBefore(o, m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom')
        fathom('set', 'siteId', 'UYEWIFED')
        fathom('trackPageview')
    </script>
    <!-- / Fathom -->
    <% } %>
</html>