.certificate-data-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 745px;
    width: 100%;
    margin-top: 30px;

    h2 {
        text-align: center;
    }

    .subheader {
        width: 100%;
        text-align: center;
        margin: 30px 0 50px;
    }

    .loading {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 30px;
        }
    }

    button {
        margin-top: 50px;
    }
}
