.disclaimer-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
    padding: 8px 20px;
    height: 80px;
    z-index: 99;

    @media (max-width: 580px) {
      height: 100px;
    }
  
    .disclaimer-text {
      color: #142037;
      font-size: 16px;
      line-height: 27px;
      white-space: normal;
      margin-right: 20px;
  
      @media (max-width: 500px) {
        font-size: 90% !important;
      }
    }
  
    .disclaimer-link, .disclaimer-link:hover, .disclaimer-link:visited {
      font-weight: 600;
      font-size: 16px;
      color: #4140DF;
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
  
      @media (max-width: 500px) {
        font-size: 90% !important;
      }
    }
  }