button {
    border-radius: 4px;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 20px;
    text-align: center;
    padding: 10px 30px !important;
    letter-spacing: 0.04em;

    @include themify($themes) {
        background-color: themed('buttonBackgroundColor') !important;  
        height: themed('buttonHeight');
        border-radius: themed('buttonBorderRadius');

        &:hover {
            background-color: themed('secondaryColor') !important;
        }

        &:disabled {
            background-color: themed('secondaryFontColor') !important;  
    
            &:hover {
                background-color: themed('secondaryFontColor') !important;
            }
        }
    }
}