.sidebar-wrapper {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px 50px;
    height: 100vh;
    background-color: #F6F8FC;

    .todo-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        img {
            height: 18px;
        }
    }
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;

    .sidebar-links {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        a {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #8593AC;
        }
    }
}
  
.rs-sidenav {
    background-color: #F6F8FC !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .rs-sidenav-body {
        @include themify($themes) {
            margin-top: themed('headerHeight');
        }
    }
}

.steps-wrapper {
    text-align: left;
    width: 250px;
    display: inline-table;
    vertical-align: top;
  }
  
.rs-steps-item-tail {
    display: none;
}
.rs-steps-item-icon-wrapper {
    background: none !important;
    border-radius: 5px !important;
}
.rs-steps-item-icon-process, .rs-steps-item-icon-wait {
    display: none !important;
}

.rs-steps-item-status-finish > .rs-steps-item-content > .rs-steps-item-title {
    text-decoration: line-through !important;
}

.rs-steps-item-status-process > .rs-steps-item-content > .rs-steps-item-title {
    font-weight: bold;
}