$font-family-registry: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-future: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-present: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-demo: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-demo-headings: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$primary-color-registry: #6FCF97;
$secondary-color-registry: #60b684;
$trinary-color-registry: #333333;
$card-background-color-registry: #E1E1E1;
$primary-font-color-registry: #142037;
$secondary-font-color-registry: #7A869B;
$page-background-registry: white;
$secondary-page-background-registry: rgba(111, 207, 151, 0.2);
$trinary-page-background-registry: #F2F7FB;
$card-box-shadow-registry: drop-shadow(0px 2px 4px rgba(35, 54, 58, 0.08));
$header-logo-background-registry: #FFFFFF;

$primary-color-future: #92CAFF;
$secondary-color-future: #72b1ec;
$trinary-color-future: #535664;
$primary-font-color-future: #142037;
$secondary-font-color-future: #FFFFFF;
$page-background-future: #FFFFFF;
$secondary-page-background-future: #535664;
$trinary-page-background-future: #F2F7FB;
$header-logo-background-future: #92CAFF;

$primary-color-present: #B4A7D9;
$secondary-color-present: #c7b6fa;
$trinary-color-present: #535664;
$primary-font-color-present: #142037;
$secondary-font-color-present: #FFFFFF;
$page-background-present: #EEF2FA;
$secondary-page-background-present: #535664;
$trinary-page-background-present: #EEF2FA;
$header-logo-background-present: #B4A7D9;

$primary-color-demo: #2C80FC;
$secondary-color-demo: #5C9EFF;
$trinary-color-demo: #B5F3D8;
$primary-font-color-demo: #000000;
$secondary-font-color-demo: #BBBBBB;
$page-background-demo: #EEF2FA;

$link-color: #306ADC;
$notice-color: #4247DC;
$form-selector-color: #339BB6;

$themes: (

    demo: (
        fontFamily: $font-family-demo,
        fontFamilyHeadings: $font-family-demo-headings,

        defaultTextSize: 16px,
        defaultLineHeight: 27px,

        primaryColor: $primary-color-demo,
        secondaryColor: $secondary-color-demo,
        trinaryColor: $trinary-color-demo,
        primaryFontColor: $primary-font-color-demo,
        secondaryFontColor: $secondary-font-color-demo,
        pageBackground: $page-background-demo,

        h1TextSize: 44px,
        h1LineHeight: 57px,
        h2TextSize: 36px,
        h2LineHeight: 57px,
        h3TextSize: 21px,
        h3LineHeight: 30px,
        h4TextSize: 16px,
        h4LineHeight: 24px,
        h5TextSize: 21px,
        h5LineHeight: 24px,

        buttonBackgroundColor: $primary-color-demo,
        buttonHeight: 48px,
        buttonBorderRadius: 100px,

    ),
    registry: (
        fontFamily: $font-family-registry,
        fontFamilyHeadings: $font-family-registry,

        defaultTextSize: 14px,
        defaultLineHeight: 24px,

        primaryColor: $primary-color-registry,
        secondaryColor: $secondary-color-registry,
        trinaryColor: $trinary-color-registry,
        primaryFontColor: $primary-font-color-registry,
        secondaryFontColor: $secondary-font-color-registry,
        linkColor: $link-color,
        noticeColor: $notice-color,
        formSelectorColor: $form-selector-color,
        pageBackground: $page-background-registry,
        secondaryPageBackground: $secondary-page-background-registry,
        trinaryPageBackground: $trinary-page-background-registry,
        cardBackground: $card-background-color-registry,
        logoHeaderBackground: $header-logo-background-registry,

        h1TextSize: 36px,
        h1LineHeight: 42px,
        h2TextSize: 24px,
        h2LineHeight: 30px,
        h3TextSize: 18px,
        h3LineHeight: 20px,
        h3TextWeight: 600,
        h4TextSize: 16px,
        h4LineHeight: 18px,
        h5TextSize: 14px,
        h5LineHeight: 15px,

        buttonBackgroundColor: $primary-color-registry,
        buttonHeight: 43px,
        buttonBorderRadius: 4px,

        boxShadow: $card-box-shadow-registry,

        headerBackgroundColor: #FFFFFF,
        headerHeight: 60px,
        headerLogoAlign: left,
        headerLogoHeight: 30px,

        footerBackgroundColor: #FFFFFF,
        footerHeight: 220px,
        footerLogoAlign: center,
        footerLogoHeight: 24px,
    ),
    future: (
        fontFamily: $font-family-future,
        fontFamilyHeadings: $font-family-future,

        defaultTextSize: 16px,
        defaultLineHeight: 24px,

        primaryColor: $primary-color-future,
        secondaryColor: $secondary-color-future,
        trinaryColor: $trinary-color-future,
        primaryFontColor: $primary-font-color-future,
        secondaryFontColor: $secondary-font-color-future,
        linkColor: $link-color,
        noticeColor: $notice-color,
        formSelectorColor: $form-selector-color,
        pageBackground: $page-background-future,
        secondaryPageBackground: $secondary-page-background-future,
        trinaryPageBackground: $trinary-page-background-future,
        logoHeaderBackground: $header-logo-background-future,

        h1TextSize: 36px,
        h1LineHeight: 42px,
        h2TextSize: 24px,
        h2LineHeight: 28px,
        h3TextSize: 24px,
        h3LineHeight: 28px,
        h4TextSize: 18px,
        h4LineHeight: 20px,
        h5TextSize: 15px,
        h5LineHeight: 17px,

        buttonBackgroundColor: $primary-color-future,
        buttonHeight: 51px,
        buttonBorderRadius: 4px,

        headerBackgroundColor: $trinary-color-future,
        headerHeight: 100px,
        headerLogoAlign: left,
        headerLogoHeight: 39px,

        footerBackgroundColor: $primary-color-future,
        footerHeight: 182px,
        footerLogoAlign: right,
        footerLogoHeight: 24px,
    ),
    present: (
        fontFamily: $font-family-present,
        fontFamilyHeadings: $font-family-present,

        defaultTextSize: 16px,
        defaultLineHeight: 24px,

        primaryColor: $primary-color-present,
        secondaryColor: $secondary-color-present,
        trinaryColor: $trinary-color-present,
        primaryFontColor: $primary-font-color-present,
        secondaryFontColor: $secondary-font-color-present,
        linkColor: $link-color,
        noticeColor: $notice-color,
        formSelectorColor: $form-selector-color,
        pageBackground: $page-background-present,
        secondaryPageBackground: $secondary-page-background-present,
        trinaryPageBackground: $trinary-page-background-present,
        logoHeaderBackground: $header-logo-background-present,

        h1TextSize: 36px,
        h1LineHeight: 42px,
        h2TextSize: 24px,
        h2LineHeight: 28px,
        h3TextSize: 24px,
        h3LineHeight: 28px,
        h4TextSize: 18px,
        h4LineHeight: 20px,
        h5TextSize: 15px,
        h5LineHeight: 17px,

        pageMarginTop: -95px,
        pageZIndex: 5,

        buttonBackgroundColor: $primary-color-present,
        buttonHeight: 51px,
        buttonBorderRadius: 4px,

        headerBackgroundColor: $primary-color-present,
        headerHeight: 240px,
        headerLogoAlign: left,
        headerLogoHeight: 39px,

        footerBackgroundColor: $primary-color-present,
        footerHeight: 182px,
        footerLogoAlign: right,
        footerLogoHeight: 24px,
    ),
);