.registry-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    height: 100vh;
    word-break: break-word;

    &.drawer {
        margin-bottom: 120px;
    
        @include breakPoint(small) {
            margin-bottom: 150px;
        }
    }
}

.category-page-wrapper {
    @extend .registry-page-wrapper;

    .content-header {
        width: 100%;
        height: 180px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h3 {
            font-weight: 600;
        }
    }

    @include themify($themes) {
        background: themed('trinaryPageBackground');  
    }
}

.select-commitment-category-wrapper {
    margin-top: 20px;

    .commitment-category {
        display: flex;
        flex-direction: row;
        margin: 20px 7%;
        height: 220px;
    
        @include themify($themes) {
        filter: themed('boxShadow');  
        }
    
        .ant-card-body {
        display: flex;
        padding: 20px;
        width: 100%;
        height: 100%;
        }

        .commitment-category-image-wrapper {
            height: 100%;
            width: 247px;
            padding: 10px;
            background: #92CAFF;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                text-align: center;
                color: white;
                margin-top: 10px;
            }
        }

        .commitment-category-content {
            margin-left: 30px;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .category-future {
            background: #92CAFF !important;
            &:hover {
                background: #72b1ec !important;
            }
            .arrow {
                padding-left: 8px;
            }
        }
    
    }

    .commitment-category-present {
        @extend .commitment-category;

        .commitment-category-image-wrapper {
            @extend .commitment-category-image-wrapper;
            background: #B4A7D9;
        }

        .category-present {
            .arrow {
                padding-left: 8px;
            }
        }
    }
}



.create-pledge-header-cta {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 7%;

    @include themify($themes) {
        background: themed('secondaryPageBackground');  
    }

    @include breakPoint(small) {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-wrapper {
        height: 100%;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include breakPoint(small) {
            flex-direction: column;
            align-items: center;
            padding: 0;

            h2 {
                padding: 10px 0;
            }
        }

    }
}

.create-pledge-footer-cta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    @include themify($themes) {
        background: themed('secondaryPageBackground');  
        height: themed('footerHeight');
    }
}

.faq-question {
    padding-bottom: 10px;
    @include themify($themes) {
        color: themed('primaryFontColor');
        font-size: themed('defaultTextSize');
        font-weight: themed('h3TextWeight');
    }
}

.faq-answer {
    @include themify($themes) {
        color: themed('primaryFontColor');
    }
}

.registry-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 60px 0 40px 0;

    @include breakPoint(small) {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h2 {
            margin-bottom: 30px;
        }
    }

    .content-wrapper {
        align-self: flex-start;
        width: 100%;
        padding: 50px 7% 20px 7%;
    }
}

.registry-faq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 7% 50px 7%;

    h3 {
        margin-bottom: 30px;
        font-weight: 600;
    }

    .faq-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .faq {
            box-sizing: border-box;
            width: 49%;
            margin: 10px 0;
            padding: 10px 10px 10px 0;
            text-align: start;

            @include breakPoint(small) {
                width: 100%;
            }
        }
    }
}

.registry-card-wrapper {
    @extend .registry-faq-wrapper;

    .card-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            box-sizing: border-box;
            width: 49%;
            margin: 15px 0;
            padding: 15px 10px;
            text-align: start;

            @include themify($themes) {
                background: themed('cardBackground');  
            }

            @include breakPoint(small) {
                width: 100%;
            }
        }
        
    }
}

.tabs-wrapper {
    width: 100%;
    .ant-tabs-top > .ant-tabs-nav::before {
    margin: 0 7%;
    border: 1px solid $card-background-color-registry;
}
}

.company-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 900px;
    padding: 5% 10%; 

    @include breakPoint(medium) {
        padding-bottom: 100px;
    }

    @include breakPoint(small) {
        width: 100%;
    }

    .company-details-back {
        position: relative;
        top: 30px;
        display: flex;
        align-self: flex-start;

        @include breakPoint(small) {
            top: -10px;
        }
    }

    .company-details {
        width: 100%;
        word-break: break-word;
        border-top: 1px solid #E2E5EC;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakPoint(small) {
            flex-direction: column;
            flex-wrap: unset;
        }

        .company-details-item {
            margin-bottom: 30px;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & .status {
                width: auto;
                margin-top: 8px;
            }
        }
    }

    .company-number-wrapper {
        font-weight: 600;
        margin: 15px 0 25px;
        .company-number {
            font-weight: bold;
        }
    }

    .rs-nav {
        width: 450px;
        margin-bottom: 30px !important;

        @include breakPoint(small) {
            max-width: 400px;
            width: auto;
        }

        & > ul {
            display: flex;
            justify-content: space-evenly;

            @include breakPoint(small) {
                flex-direction: column;
            }
        }

        .rs-nav-waterline {
            display: none;
        }

        .rs-nav-item {
            background: #FFFFFF;
            border-radius: 100px;
            width: 120px;
            height: 32px;

            @include breakPoint(small) {
                margin-bottom: 20px;
            }

            &.rs-nav-item-active {
                background: #306ADC;
                 
                .rs-nav-item-content {
                    color: #ffffff;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }

            .rs-nav-item-content {
                &:before {
                    content: none;
                }
            }
    
            .rs-nav-item-content {
                display: flex;
                justify-content: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                line-height: 20px;
                padding-top: 6px;
                color: #7A869B;

                &:hover {
                    color: $primary-font-color-registry;
                }
            }
        }
    }

}

.status {
    padding: 2px 12px 4px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;

    &.active {
      color: #35C0A1;
      background: #DAF9F2;
    }
    &.pending {
      color: #F17105;
      background: #FFEDDE;
    }
}
