.thank-you-page-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .random-element-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .header-section {
        padding: 70px;
        margin: 0;
        background: #EEF2FA;

        @include breakPoint(medium) {
            padding: 55px 30px;
        }

        .menu-links {
            .menu-link {
                border-bottom: 3px solid transparent;
            }
        }
    }

    .footer-section {
        z-index: 5;
    }

    .thank-you-wrapper-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 200px 50px;
        position: relative;
        z-index: 2;

        .heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
        }
        
        .thank-you-content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .figure-wrapper, .thank-you-text-wrapper {
                width: 50%;
                max-width: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 2;
            }

            @include breakPoint(medium) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 30px;
                display: flex;

                .figure-wrapper, .thank-you-text-wrapper {
                    margin: 20px 0;
                    width: 100%;
                    min-width: 400px;
                }
            }

            .figure-wrapper {
                align-items: center;
            }

            .thank-you-text-wrapper {
                margin-left: 53px;
                
                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    h3 {
                        margin-left: 21px;
                        font-weight: 700;
                    }
                }

                p {
                    max-width: 515px;

                    @include themify($themes) {
                        color: themed('fontFamilyHeadings');
                    }
                }
            }
        }
    }

    .commentary-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 70px 50px;
        background: #EEF2FA;

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
        }
        
        h3 {
            color: #9DA5B2; 
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.58em;
            text-transform: uppercase;
        }

        p {
            max-width: 815px;
        }

        .commentary-cards-wrapper {
            display: flex;
            flex-direction: row;
            margin: 120px 0 30px 0;

            .commentary-card {
                width: 340px;
                padding: 0 43px 20px 43px;
                margin: 0 25px;
                border-radius: 10px;
                background: #FFFFFF;
                position: relative;

                .commentary-card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;
                    bottom: 50px;

                    h5 {
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .btn-wrapper {
                    justify-self: flex-end;
                }
                
                .card-logo-wrapper {
                    position: relative;
                    bottom: 80px;
                }
            }
        }
        

    }

    .thank-you-wrapper {
        padding: 100px 100px 0 100px;
        position: relative;
        display: flex;
        flex-direction: column;

        h2 {
            align-self: center;
            font-weight: 700;
        }

        .dots-bottom {
            position: absolute;
            bottom: -210px;
            right: -30px;
            z-index: 0;
            transform: rotate(90deg);
            @include breakPoint(medium) {
                display: none;
            }
        }

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
        }

        .thank-you-content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 40px 0;

            .figure-wrapper, .thank-you-text-wrapper {
                width: 50%;
                max-width: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 2;
            }

            @include breakPoint(medium) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 30px;
                display: flex;

                .figure-wrapper, .thank-you-text-wrapper {
                    margin: 20px 0;
                    width: 100%;
                    min-width: 400px;
                }
            }

            .figure-wrapper {
                align-items: center;
            }

            .thank-you-text-wrapper {
                
                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    img {
                        width: 21px;
                    }

                    h3 {
                        margin-left: 21px;
                        font-weight: 700;
                    }
                }

                p {
                    margin: 15px 0 0 40px;
                    max-width: 415px;
                    font-weight: 500;
                }
            }
        }

        .cta-wrapper {
            height: 230px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding-bottom: 30px;

            a {
                @include themify($themes) {
                    font-family: themed('fontFamilyHeadings');
                }
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #8593AC;

                &:hover {
                    @include themify($themes) {
                        color: themed('primaryFontColor');
                        transition: color 500ms ease;
                    }
                }
            }

            .cta {
                text-transform: none;
            }
        }

        .figure {
            max-width: 320px;
            width: 100%;
        }
    }
}