.company-confirmation-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    max-width: 660px;

    h2 {
        margin: 30px 0;
    }

    .selv-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #EEF2FA;
        border-radius: 16px;
        padding: 20px 10px;
        margin: 70px 0;
        min-width: 490px;
    }

}