.landing-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .random-element-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .cta {
        background: #4247DC;
        border-radius: 35px;
        height: 55px;
        padding: 10px 40px !important;

        > span {
            color: #ffffff;
            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
        }
    }

    .header-section {
        max-height: 60px;
        margin: 40px 20px;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .menu-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .menu-link {
                font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
                font-weight: 800;
                font-size: 17px;
                line-height: 57px;
                color: #142037;
                margin: 0 25px;
            }

            .cta {
                margin-left: 25px;
            }
        }
    }

    .heading-section {
        width: 100%;
        height: 100%;
        display: flex;

        .store-buttons {
            > a {
                margin-right: 20px;
            }
        }

        .desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            position: relative;

            .portrait {
                position: absolute;
                right: 0;
                z-index: 10;
            }

            .content-wrapper {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                margin-top: 100px;
                margin-bottom: 278px;

                .content {
                    max-width: 370px;
                    z-index: 2;
                    background-color: #fff;
    
                    p {
                        margin: 40px 0;
                    }
                }
            }

            @include breakPoint(small) {
                display: none;
            }
        }

        .mobile {
            display: none;
            @include breakPoint(small) {
                display: flex;
            }
        }
    }

    .control-identity-section {
        background: #F2F5FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .content-wrapper {
            max-width: 960px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-content-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                z-index: 2;
                background: #F2F5FA;

                > * {
                    width: 50%;
                }
            }
        }
    }

    .selv-section {
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #151F35;

        p {
            margin-top: 50px;
            font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            font-weight: 400;
            font-size: 25px;
            line-height: 39px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .how-it-works-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .content-wrapper {
            max-width: 960px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
    
                @include breakPoint(small) {
                    display: none;
                }

                .column {
                    z-index: 2;
                    width: 50%;
                    max-width: 310px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;

                    &:first-of-type {
                        padding-top: 100px;
                    }

                    .info {
                        background-color: #fff;

                        &:last-of-type {
                            margin-top: 100px;
                        }
                    }
                }

                .howItWorks1 {
                    width: 572px;
                    position: relative;
                    left: -50px;
                }

                .howItWorks2 {
                    width: 560px;
                    position: relative;
                    left: -180px;
                    top: 30px;
                }
            }
    
            .mobile {
                display: none;
                @include breakPoint(small) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .benefits-section {
        background: #F2F5FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .benefits-wrapper {
            max-width: 990px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin: 40px 0 60px;

            .benefit {
                z-index: 2;
                width: 300px;
                height: 255px;
                position: relative;
                padding: 70px 25px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                background: #FFFFFF;
                border-radius: 10px;
                text-align: center;

                img {
                    position: absolute;
                    top: -65px;
                }
            }
        }
    }

    .app-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .content-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-width: 1200px;

            .content-list {
                z-index: 2;
            }

            .content-item {
                margin: 30px 0;
                max-width: 545px;
            }

            .desktop {
                display: flex;
    
                @include breakPoint(small) {
                    display: none;
                }
            }
    
            .mobile {
                z-index: 2;
                display: none;
                @include breakPoint(small) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .faq-section {
        background: #F2F5FA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .ant-collapse {
            z-index: 2;
            max-width: 810px;
            width: 100%;
            background-color: transparent;

            .ant-collapse-header {
                padding: 0;

                .section-header {
                    color: #ffffff;
                    height: 65px;
                    background: #151F35;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding: 0 35px;
                }
            }

            .ant-collapse-item {
                margin: 25px 0;
                border: none;

                &.ant-collapse-item-active {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;

                    .ant-collapse-header {
                        .section-header {
                            padding: 10px 35px 0;
                            color: #151F35;
                            background: transparent;
                            -webkit-transition: background-color 250ms linear;
                            -ms-transition: background-color 250ms linear;
                            transition: background-color 250ms linear;
                        }
                    }
                }

                .faq-content {
                    padding: 0 20px 15px;
                }
            }
        }
    }

    .footer-section {
        background: #151F35;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 100px 25px 20px;
        width: 100%;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
        }

        p {
            margin: 10px 0;
            max-width: 580px;
            text-align: center;
        }

        h1 {
            margin: 70px 0 20px;
        }

        .footer-links {
            margin-top: 60px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
