.landing-page-wrapper {
    position: relative;

    .random-element-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .header-section {

    }

    .main-section {
        width: 100%;
        height: 100%;
    }

    .control-identity-section {

    }

    .selv-section {

    }

    .how-it-works-section {

    }

    .users-business-section {

    }

    .app-section {

    }

    .faq-section {

    }

    .footer-section {
        background: #151F35;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 100px 25px 20px;
        width: 100%;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
        }

        p {
            margin: 10px 0;
            max-width: 580px;
            text-align: center;
        }

        h1 {
            margin: 70px 0 20px;
        }

        .footer-links {
            margin-top: 60px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}