// Ant Card
.ant-card {
    border-radius: 20px;
}

// Ant Tabs
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 600;
    @include themify($themes) {
        color: themed('primaryFontColor');  
    }
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-btn:active {
    @include themify($themes) {
        color: themed('primaryFontColor');  
    }
}

.ant-tabs-ink-bar {
    border-bottom: 2px solid $primary-color-registry;
}

.ant-tabs-top > .ant-tabs-nav::before {
    border: 1px solid #E2E5EC;
}

.ant-tabs-tab {
    width: 110px;
    justify-content: center;
    font-weight: 600;
    @include themify($themes) {
        color: themed('secondaryFontColor');
    }
    &:hover {
    @include themify($themes) {
        color: themed('primaryFontColor');  
    }
    }
}

.ant-tabs-content-holder {
    margin-bottom: 30px;
}

.ant-input-affix-wrapper-disabled {
    background-color: #FFFFFF;
}

.ant-input[disabled] {
    color: #585858;
}

.ant-radio-wrapper {
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #999999;
}

.ant-radio-wrapper-checked {
    @include themify($themes) {
        color: themed('primaryColor');  

        .ant-radio-inner {
            border-color: themed('primaryColor'); 
            
            &:after {
                background-color: themed('primaryColor'); 
            }
        }
    }
}

.ant-progress-inner {
    background-color: #B5F3D8;
}

.ant-btn {
    &:hover {
        color: #FFFFFF;
    }

    &:disabled {
        color: #FFFFFF;

        &:hover {
            color: #FFFFFF;
        }
    }
}