.boundary {
    width: 100%;
    height: 16px;
    background-color: #E3E5E6;
    position: relative;
    cursor: pointer;

    .fill {
        height: 16px;

        &.exceeded {
            width: 90%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #FEE34D 0%, #FC3B32 100%);
        }
        &.unsafe {
            width: 66%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 87.93%), linear-gradient(90deg, #FEE34D 0%, #FC6739 100%);
        }
    }
    .border {
        width: 84%;
        height: 16px;
        border-right: 2px solid #444444;
        background-color: transparent;
        position: absolute;
        top: 0;
    }
}