.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.steps-wrapper {
  text-align: left;
  width: 250px;
  display: inline-table;
  vertical-align: top;
}

.rs-steps-item-tail {
  display: none;
}
.rs-steps-item-icon-wrapper {
  background: none !important;
  border-radius: 5px !important;
}
.rs-steps-item-icon-process, .rs-steps-item-icon-wait {
  display: none !important;
}

.rs-steps-item-status-finish > .rs-steps-item-content > .rs-steps-item-title {
  text-decoration: line-through !important;
}

.rs-steps-item-status-process > .rs-steps-item-content > .rs-steps-item-title {
  font-weight: bold;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 60px solid #F6F6F6;
  background-color: #fff;
}

.sidebar-wrapper {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 50px;
  height: 100vh;
}

.sidebar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.rs-sidenav {
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.companies-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 840px;
  align-items: flex-start;
  height: 100%;
}

.companies-cta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}

.rs-table-row {
  cursor: pointer;
}