.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.steps-wrapper {
  text-align: left;
  width: 250px;
  display: inline-table;
  vertical-align: top;
}

.rs-steps-item-tail {
  display: none;
}
.rs-steps-item-icon-wrapper {
  background: none !important;
  border-radius: 5px !important;
}
.rs-steps-item-icon-process, .rs-steps-item-icon-wait {
  display: none !important;
}

.rs-steps-item-status-finish > .rs-steps-item-content > .rs-steps-item-title {
  text-decoration: line-through !important;
}